.logo-container {
  position: absolute;
  bottom: 550px;
  left: 700px;
  margin: auto;
  transform: rotateZ(30deg) !important;

  .e-container,
  .solid-logo {
    width: 500px;
    height: auto;
    position: absolute;
  }

  .e-container {
    stroke-dasharray: 5000;
    stroke-dashoffset: 5000;
    animation: animationWorld 15s ease-in forwards;
  }

  .solid-logo {
    opacity: 1;
    z-index: 5;
    animation: fadeIn 6s 3.8s backwards;
  }
}

@keyframes animationWorld {
  to {
    stroke-dashoffset: 0;
  }
}

.svg-container {
  stroke: #9e958b;
  stroke-width: 1px;
}
