.globe-container {
  height: 100%;
  position: absolute;
  top: -30px;
  right: 110px;
  margin: auto;
  stroke-dasharray: 115000;
  stroke-dashoffset: 115000;
  animation: animationWorld 12s ease-in forwards;
}

@keyframes animationWorld {
  to {
    stroke-dashoffset: 0;
  }
}

.svg-globe-container {
  stroke: #9e958b;
  stroke-width: 50px;
}
